PORT=3000

# Dùng khi API chạy trong Docker cùng product-network
MONGO_URI=mongodb://nammongodb:27017/productdb

# Nếu chạy API trực tiếp từ VS Code, dùng:
# MONGO_URI=mongodb://127.0.0.1:27017/productdb